#root {
  max-width: 1280px;
  width: 100%; /* Ensures it doesn't exceed the screen width */
  margin: 0 auto; /* Centers the element horizontally */  
  padding: 2rem;
  text-align: center;
}

.container {
  width: 100%;
}
